## UBER RIDERS PREDICTOR

In [1]:
#IMPORT ESSENTIAL LIBRARIES
import pandas as pd
import numpy as np

In [2]:
#IMPORT DATATSET
data = pd.read_csv("taxi.csv")
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [3]:
#to find rows and columns
data.shape

(27, 5)

In [4]:
#to find any nll values
data.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [10]:
#Seperate datatset in independent and dependent variable
#INDEPENDENT VARIABLE
X= data.iloc[:,0:-1].values
#DEPENDENT VARIABLE
Y= data.iloc[:,-1].values

In [7]:
Y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800], dtype=int64)

In [11]:
#TRAIN-TEST-SPLITTING
from sklearn.model_selection import train_test_split
#We get 4 sets
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size =0.3,random_state =0)

In [12]:
X_train.shape

(18, 4)

In [10]:
X_test.shape

(9, 4)

In [13]:
y_train.shape

(18,)

In [14]:
y_test.shape

(9,)

In [15]:
#Applying linear Regression Algorithm
from sklearn.linear_model import LinearRegression
reg = LinearRegression() #object creation
reg.fit(X_train,y_train) #fitting training data in this model
# classification discrete values for label
# regression continous values for predicting values and numbers

LinearRegression()

In [16]:
print("Train score =", reg.score(X_train,y_train))
print("Test score =", reg.score(X_test,y_test))
# score accuracy

Train score = 0.9428364724316812
Test score = 0.9157379222488218

In [17]:
#.pkl file is same as of .exe file
import pickle

In [18]:
#Now dump reg model in taxi.pkl in binary form(wb)- write mode
pickle.dump(reg,open('taxi.pkl','wb'))

Testing of Pickle file

In [19]:
model = pickle.load(open('taxi.pkl','rb')) #read the pkl file
print(model.predict([[80,1770000,6000,85]])) #predicting the values

[153448.45038985]